@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(196deg)
    brightness(102%) contrast(103%);
}
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #18181B;
  height: 40px;
  width: 40px;
  margin-right: 4px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #A855F7;
  color: #ffffff;
}

body {
  width: 100%;
  height: 100%;
  background: #121214;
  background-image: url('../src/assets/Fundo.svg');
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#__next {
  width: 90%;
}