@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
  font-size: 1.6rem;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

/* Remove excess padding and border in Firefox 4+ */

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;

  background: $background-color;
  background-position: right top;
}
